<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <nav class="container-fluid p-3 navbar navbar-light bg-light navbar-expand-sm border-bottom" style="position: fixed;z-index: 20">
            <h1>Lista de compras</h1>
        </nav>
    </div>

    <!-- CONTENIDO  -->
    <div class="container mt-5">
        <div class="row mt-5 d-flex justify-content-center">

            <table class="table mt-5">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Monto Total</th>
                    <th>Fecha Compra</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="compra : ${listadoCompra}">
                    <tr>
                        <td th:text="${compraStat.index +1}"></td>
                        <td th:text="${compra.usuario.nombres + ' ' + compra.usuario.apellidos}"></td>
                        <td th:text="${compra.total}"></td>
                        <td th:text="${compra.fechaCompra}"></td>
                        <td>
                            <button type="button" th:data-compraid="${compra.id}" data-toggle="modal" data-target="#modalDetalle" class="btn btn-outline-success btnModalDetalle" >Ver Detalle</button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>


    <!-- FINAL CONTENIDO  -->


    <!-- MODAL -->
    <div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Detalle de compra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="bodyModalDetalle" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!--    FINAL MODAL-->


    <script>
        let d = document;
        let log = console.log;
        $(document).ready(function(){
            let btnModalDetalle = $(".btnModalDetalle");
            btnModalDetalle.click(function(){
                let compraId = $(this).data("compraid");
                let bodyModalDetalle = $("#bodyModalDetalle");
                let ruta = '/compra/detalle/'+compraId;
                log(ruta);
               fetch(ruta)
                   .then(res => res.text())
                   .then(res => {bodyModalDetalle.html(res)})
            });
        });
    </script>
</div>
</body>
</html>
