<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <nav class="container-fluid p-3 navbar navbar-light bg-light navbar-expand-sm border-bottom" style="position: fixed;z-index: 20">
            <h1>Libros reservados</h1>
        </nav>
    </div>
    <!-- CONTENIDO  -->
    <div class="container mt-5">
        <div class="row mt-5 d-flex justify-content-center">

            <table class="table mt-5">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo de Libro</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="prestamo : ${listadoPrestamo}">
                    <tr>
                        <th scope="row">1</th>
                        <td> <span th:text="${prestamo.libro.titulo}"></span></td>
                        <td><span th:text="${prestamo.usuario.nombres + ' '+ prestamo.usuario.apellidos }"></span></td>
                        <td><span class="font-weight-bold" th:text="${prestamo.cantidad}">2</span></td>
                        <td><span class="badge badge-warning p-2" th:text="${prestamo.estado}"></span></td>
                        <td>
                            <button type="button" th:data-prestamoid="${prestamo.id}" class="btn btn-outline-success btn-prestar">PRESTAR</button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>


    <!-- FINAL CONTENIDO  -->
    <script>

        let d = document;
        let log = console.log;

        $(document).ready(function(){
            $('.btn-prestar').click(function(){
                let form = new FormData();
                let prestamoId = $(this).data("prestamoid");
                form.append("id",prestamoId);
                fetch("/prestamo/prestar",{body:form,method:"post"})
                    .then(res => res.text())
                    .then(res => {
                        log(res)
                        alert("atendido correctamente")
                        location.reload()
                    });
            });
        });
    </script>
</div>
</body>
</html>
