<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout_estudiante}"
>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <nav class="container-fluid p-3 navbar navbar-light bg-light navbar-expand-sm border-bottom" style="position: fixed;z-index: 20">
            <h1>Lista de libros</h1>
        </nav>
    </div>

    <!-- CONTENIDO  -->
    <div class="container mt-5 pt-5">
        <div class="row">

            <th:block th:each="kardex : ${listadoKardex}">
                <div class="col-3 mt-4">
                    <div class="card pt-2">
                        <div class="col-12 d-flex justify-content-center">
                            <img src="" th:src="@{${'/imagenes/'+kardex.libro.portada}}" class="" alt="...">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title" th:text="${kardex.libroId}"></h6>
                            <p class="card-text">Autor del libro</p>
                            <p class="card-text">Biblioteca de FAING</p>
                            <p class="card-text">Disponibles <span th:text="${kardex.cantidad}"></span></p>
                            <a href="#" th:data-libroid="${kardex.libroId}" class="btn btn-primary w-100 btn-reservar">Reservar</a>
                        </div>

                    </div>
                </div>
            </th:block>

        </div>
    </div>



    <!-- FINAL CONTENIDO  -->

    <script>
        let d = document;
        let log = console.log;

        $(document).ready(function(){
            $('.btn-reservar').click(function(){
                let form = new FormData();
                let libroId = $(this).data("libroid");
                form.append("libroId",libroId);
                form.append("usuarioId",1);
                form.append("usuarioBibliotecariaId",1);
                form.append("bibliotecaId",1);

               fetch("/prestamo/reservar",{body:form,method:"post"})
                   .then(res => res.text())
                   .then(res => log(res));
            });
        });
    </script>
</div>
</body>
</html>
